@model Pretest3.Models.TbUser

@{
    ViewData["Title"] = "Detail User";
}

<h1 style="color:blue">Details of User</h1>
<table class="table">
    <thead>
        <tr>
            <th>EmpID</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>DateOfBirth</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.UserId)
                </td>
                <td>
                    @Html.DisplayFor(model => model.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.LastName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Address)
                </td>
            </tr>
    </tbody>
</table>
