@model Lab03.Models.Employee
@{
    ViewBag.Title = "Edit";
    Layout = "_LayoutVisitor";
}
<h2>Update a Employee</h2>
<div>
    <form asp-action="Edit" asp-controller="Employee" method="post">

        <div>
            @Html.LabelFor(model=>model.Id)
            @Html.DisplayFor(model=>model.Id)
        </div>
        <br />
        @*<partial name="_pvCreateEdit" />*@
        <div>
            @Html.LabelFor(model=>model.Name)
            @Html.EditorFor(model=>model.Name)
            @Html.ValidationMessageFor(model=>model.Name)
        </div>
        <br />
        <div>
            @Html.LabelFor(model=>model.Email)
            @Html.EditorFor(model=>model.Email)
            @Html.ValidationMessageFor(model=>model.Email)
        </div>
        <br>
        <div>
            @Html.LabelFor(model=>model.Salary)
            @Html.EditorFor(model=>model.Salary)
            @Html.ValidationMessageFor(model=>model.Salary)
        </div>
        <br />
        <div>
            @Html.LabelFor(model=>model.Department)
            @Html.EditorFor(model=>model.Department)
            @Html.ValidationMessageFor(model=>model.Department)
        </div>
        <br />


        <input type="submit" value="Update" class="btn-warning" />
    </form>

</div>