@model IEnumerable<Lab02.Models.Student>
@{
    ViewBag.Title = "Index";
}
<br />
<div>
    @Html.ActionLink("Create new","Create","Student")
</div>
<div>
    <h1>Student List</h1>
    <table class="table">
        <tr>
            <th>StudentCode</th>
            <th>StudentName</th>
            <th>Address</th>
            <th>PhoneNumber</th>
            <th>Action</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.code</td>
                <td>@item.name</td>
                <td>@item.address</td>
                <td>@item.phone</td>
                <td>
                    @Html.ActionLink("Delete","Delete","Student", new{code=item.code})
                </td>
            </tr>
        }
    </table>
</div>